.btn {
  font-family: inherit;
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: var(--linear-bg);
  background-size: 150%;
  background-position: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: var(--bold-font);

  transition: all .3s;
}

.btn:hover {
  background-position: left;
}
