.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.categories {
  display: flex;
  justify-content: center;
}
.categories .categories__title {
  text-align: center;
  font-size: 3.5rem;
  background: var(--linear-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.categories .categories__navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.categories .categories__navigation a:hover {
  opacity: .8;
}
.categories .categories__navigation a {
  opacity: 1;
  text-decoration: none;
  font-size: .5rem;
  font-weight: var(--bold-font);
  color: var(--title-color);
  text-transform: uppercase;

  transition: all .3s;
}
.posts {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.post {
  background-color: #fff;
  /* padding: 2rem; */
  border-radius: 1rem;
  margin: .5rem .75rem;
  width: 100%;
  
}
.post .post__image {
  max-width: 100%;
  border-radius: 1rem;
}
.post__container {
  padding: 1.5rem;
}
.post .post__title{
  line-height: 2rem;
  color: var(--title-color);
  font-family: var(--text-font);
  text-transform: uppercase;
  font-size: 1.25rem;
}
.post .post__information{
  font-size: .9rem;
  letter-spacing: 1;
  line-height: 1.5rem;
  color: var(--text-color);
  font-weight: var(--light-font);
}
.post__footer{
  display: flex;
  justify-content: space-between;
  margin-top: 2.25rem;
  font-weight: 600;
  color: var(--text-color);
  font-size: .9rem;
}

.post__footer svg{
  height: 1.2rem;
  width: 1.2rem;
}

.post__footer .post__writer span,
.post__footer .post__date span{
  margin-left: .5rem;
}

.post__footer .post__writer span{
  color: var(--title-color);
  opacity: .8;
}

.post__footer .post__date span{
  font-weight: var(--light-font);
}

.post__footer div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
object{
  width: 1.5rem;
  margin-right: .5rem;
}
.categories__button{
  margin: 1rem;
}
.categories__button::after{
  margin: 0;
  border: 0;
}
/* slides */


/* Responsive */
@media screen and (min-width: 480px) {
  .post .post__title{
    font-size: 1.5rem;
  }
  .categories .categories__navigation a {
    font-size: .75rem;
  }
  .post__footer img{
    width: 1.3rem;
  }
  .post__footer{

  }
}
@media screen and (min-width: 768px) {
  .categories__navigation{
    padding: 0 3rem;
  }
}
@media screen and (min-width: 991px) {
  .categories__navigation{
    padding: 0 6rem;
  }
  .posts{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .post {
    max-width: 45%;
    min-width: 30%;
  }
  .container{
    max-width: 60vw;
  }
}
@media screen and (min-width: 1080px) {
  .categories__navigation{
    padding: 0 7.5rem;
  }
}
